<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
    <p>Logged in as: {{ session["username"] }}</p>
</head>
<body>
    <h1>Edit Note</h1>

    <form method="post">
        <label for="title">Title:</label>
        <input
            type="text"
            name="title"
            id="title"
            value="{{ note['title'] }}"
            required
        >

        <br><br>

        <label for="content">Content:</label>
        <textarea
            name="content"
            id="content"
            required
        >{{ note["content"] }}</textarea>

        <br><br>

        <button type="submit">Save changes</button>
    </form>

    <p><a href="/">Back to notes</a></p>
</body>
</html>